<h1>Crowd Mentoring</h1>
<p>This is the app I have imagined in my head for a while.</p>
<p>And now I say this...</p>
<a href="http://www.flickr.com/photos/69382656@N04/6758691895/" title="CODE HARDER by FAKEGRIMLOCK, on Flickr"><img src="http://farm8.staticflickr.com/7006/6758691895_771de6df68.jpg" width="350" height="500" alt="CODE HARDER"></a>